@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Asap', sans-serif;
}

.header {
  background: linear-gradient(to top, rgba(17, 17, 17, 0.678), rgba(0, 0, 0, 0.664)), url(../img/34.jpg.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100vh;
  max-width: 1600px;
  align-items: center;
  background-size: cover;
}

.logo a {
  font-size: 26px;
  color: white;
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 25px;
}

.button {
  position: relative;
  top: 75px;
}

.button a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
}

.menu-nav a :hover {
  opacity: 0, 5;
  transition: all .07s ease-in-out;
}

.menu-nav {
  display: flex;
  justify-content: center;
}

.social-icons {
  font-size: 5px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 80px;
  padding-bottom: 45px;
  position: relative;
  right: 70px;
  bottom: 40px;
}